.previous-container {
    width: 70%;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
}

.food-table {
    width: 240px;
    margin-left: 20px;
}

.food-table td {
    width: 50px;
}

.button-form {
    text-align: center;
}

.delete-btn {
    display: none;
    margin-top: 5px;
    margin-left: 5px;
}

.add-btn {
    display: none;
    margin-top: 5px;
    margin-right: 5px;
}

.prev-foods-footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.prev-foods-footer h1 {
    color: white;
}

#success-message {
    display: none;
    text-align: center;
    color: white;
}