.footer {
    width: 80%;
    background-color: gray;
    height: 30px;
    margin: 20px auto;
    border-radius: 10px;
}

.footer-info p {
    display: inline-block;
    width: 40px;
    margin: 0px 10px;
}